.body {
    width: 320px;
    height: 180px;
    background-color: #181818;
}

.container .header {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    column-gap: 5px;
    border-radius: 50px;
    padding: 10px 10px;
}

.container .header img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.container .header h2 {
    color: gray;
    margin-top: auto;
    text-align: center;
    padding-top: 10px;
}

.container .header .btn {
    border: 2px solid mediumseagreen;
    background-color: #181818;
    color: mediumseagreen;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;

}

.container .header .btn:hover {
    background-color: #04AA6D;
    color: white;
}

.container .searchContainer {
    padding: 10px 10px;
}

.container .searchContainer .btn {
    background-color: white;
    border-radius: 10px;
    height: 30px;
    width: 30px;
}

#search-bar {
    height: 30px;
    border-radius: 10px;
    width: 80%;
}


.container .output {
    padding: 10px 10px;
    border: 1px solid gray;
    height: 30px;
    color: white;
    border-radius: 10px;
    overflow: hidden;

}

.container .output .timestamp {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .output #t-body {
    color: chocolate;
    text-decoration: none;
}

button[disabled=disabled],
button:disabled {
    background-color: #04AA6D;
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
}